* {
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

/* BANNER */
.banner {
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

.container {
    background-color: #74C8FF
}
